.Modal {
    position: relative;
    background-color: rgb(202, 223, 240);
    border: 1px solid black;
    height: 400px;
    width: 700px;
    right: 300px;
    top: -100px;
    border-radius: 15px;
}

.Display {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 18px;
}

p {
    margin-top: 150px;
    font-size: 20px;
}

.bac {
    position: relative;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
}